body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.container {
    width: 700px;
    margin: 82px auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 15px;
    text-align: center;
    background-color: #bd95eb88;
}

#cavablar button {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 30px;
    font-size: 20px;
}

#next {
    display: none;
}

button {
    margin: 20px auto;
    padding: 10px 40px;
    border-radius: 10px;
    font-size: 16px;
} 

.correct {
    background-color: #4CAF50;
    color: white;
}

.incorrect{
    background-color: #f44336;
    color: white;
}